<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	  <typeAliases>
		   	<typeAlias  alias="testVO"   type="com.practice.test.TestVO"/>
		   	<typeAlias  alias="memberVO" type="com.practice.signin.MemberVO"/>
		   	<typeAlias  alias="boardVO"  type="com.practice.board.BoardVO"/>
		   	<typeAlias  alias="BhcVO"  	 type="com.practice.contentmain.chickens.bhc.BhcVO"/>
		   	<typeAlias  alias="brandVO"   type="com.practice.contentmain.chickens.BrandVO"/>
	  </typeAliases>
	  <mappers>
	  		<mapper resource="com/practice/config/db/mapper/test.xml"/>
	  		<mapper resource="com/practice/config/db/mapper/member.xml"/>
	  		<mapper resource="com/practice/config/db/mapper/signin.xml"/>
	  		<mapper resource="com/practice/config/db/mapper/revise.xml"/>
	  		<mapper resource="com/practice/config/db/mapper/board.xml"/>
	  		<mapper resource="com/practice/config/db/mapper/bhc.xml"/>
	  		<mapper resource="com/practice/config/db/mapper/brand.xml"/>
	  </mappers> 
</configuration>